<!DOCTYPE HTML>
<html>
<head>
  <title>Class Directory</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="directory.css">
</head>
<body>



<!-- 
  __ _  _  _  ___  _   _  _  _  ___  ___ __ 
 / _/ \| \| ||_ _|/ \ | || \| || __|| o Y _|
( (( o ) \\ | | || o || || \\ || _| |   |_ \
 \__\_/|_|\_| |_||_n_||_||_|\_||___||_|\\__/

 -->  

<!-- Menu View -->
  <div class="menu"></div>
  
<!-- Student View -->
  <div class="student"></div>

<!-- Thumbnail View -->
  <div class="class-th"></div>

<!-- Table View -->
  <table class='table table-striped'>
    <tr class='text-left'>
   </tr>
  </table>

<!-- Add View -->
  <div class="add-new"></div>


<!-- 
 ___  ___  _   _  ___ _     _  ___  ___  __ 
|_ _|| __|| \_/ || o \ |   / \|_ _|| __|/ _|
 | | | _| | \_/ ||  _/ |_ | o || | | _| \_ \
 |_| |___||_| |_||_| |___||_n_||_| |___||__/

 -->

 <!-- Menu-View: Page Header & View Change Links -->
  <script id="menu-template" type="text/template">
    
    <div><h1>Student Directory</h1></div>
    
    <div> 
      <a href='#' class='table-button'>[ Table View ] </button>
      <a href='#' class='thumbnail-button'>[Thumbnail View] </button>
      <a href='#' class='add-button'> [Add Student]</button>
    </div>
  
  </script>


<!-- Thumbnail-View: Photos & Names of Students in Class -->
  <script id="thumbnail-template" type="text/template">
    
    <img class='icon' src=<%= photo%>><div class='block'><%= first%></div>
  
  </script>


<!-- Table-View: Tabular Data for Students in Class -->
  <script id="table-template" type="text/template">
    
    <td><img class='mini' src=<%= photo%>></td>
    <td><%= first%></td>
    <td><%= last%></td>
    <td><i class="icon-large icon-envelope"></i> <%= email%> </td>
    <td></i><%= github%></td>
    <td><i class="icon-large icon-remove"></i></td>
  </script>


<!-- Student-View: Profile View for Single Student -->
  <script id="student-template" type="text/template">
    
    <img src=<%= photo%>>
    <h3><%= first%> <%= last%></h3>
    <div>Email:<%= email%></div>
    <div>Git Hub Account:<%= github%></div>
    <div>Fun Fact: <%= first%> is super cool and awesome</div>
    <button class='edit'>Edit</button>
    <button class='back'>Back</button>


  </script>

<!-- Update-View: Update Student (Either Add or Edit-->
  <script id="update-template" type="text/template">

   <div class='inline'>
      <div>First: <input class='first-input' value='<%= first %>'></div> 
      <div>Last: <input class='last-input' value='<%= last %>'></div>
  </div> 
  
  <div>Email: <input class='email-input' value='<%= email %>'>
  </div> 
  
  <div>GitHub: <input class='github-input' value='<%= github %>'>
  </div> 

  <div>Photo URL: <input class='photo-input' value='<%= photo %>'>
  </div> 
  
  <div class='buttons'>
      <button class='save'>Save</button> 
      <button class='cancel'>Cancel</button>
  </div> 

   </script>


<!-- Update-View: Update Student (Either Add or Edit-->
  <script id="add-template" type="text/template">

   <div class='inline'>
      <div>First: <input class='first-input'></div> 
      <div>Last: <input class='last-input'></div>
  </div> 
  
  <div>Email: <input class='email-input'>
  </div> 
  
  <div>GitHub: <input class='github-input'>
  </div> 

  <div>Photo URL: <input class='photo-input'>
  </div> 
  
  <div class='buttons'>
      <button class='save'>Save</button> 
      <button class='cancel'>Cancel</button>
  </div> 

   </script>





<!--
 __  __  ___ _  ___ ___ __ 
/ _|/ _|| o \ || o \_ _/ _|
\_ ( (_ |   / ||  _/| |\_ \
|__/\__||_|\\_||_|  |_||__/

 -->

<!-- Libraries -->
  <script src="jquery-2.0.1.min.js"></script>
  <script src="underscore.js"></script>
  <script src="backbone.js"></script>
  <script src="js/bootstrap.min.js"></script>


<!-- Models -->
  <script src="models/student-model.js"></script>

 
<!-- Collections -->
  <script src="collections/class-collection.js"></script>


<!-- views -->
  <script src="views/add-view.js"></script>
  <script src="views/student-view.js"></script>
  <script src="views/student-view-th.js"></script>
  <script src="views/thumbnail-view.js"></script>
  <script src="views/table-view.js"></script>
  <script src="views/menu-view.js"></script>



</body>
</html>